body{
    background-image: url(kepek/dark-background-abstract-background-network-3d-background-3840x2160-8324.png);
    background-size: cover;
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: auto;
    color: white;
}

img{
    width: 400px;
    border: 10px solid rgb(50,48,48);
    border-radius: 15%;
    padding: 10px;
}

a{
    text-align: center;
    color: rgb(209, 202, 202);
    text-decoration: none;
    padding: 10px;
    border: 10px solid grey;
    border-radius: 25%;
    background-color: rgb(50,48,48);
}

h1{
    text-align: center;
    font-size: 50px;
    letter-spacing: 30px;
    text-transform: uppercase;
    padding: 20px;
}

h2{
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
    background-color: rgb(66, 62, 62);
    border-radius: 5%;
}

p{
    text-align: justify;
    font-size: 15px;
    font-family: 'Rockwell', serif;
}

#menu{
    background-color: rgb(206,198,198);
    padding: 10px;
}

.jatek{
    background-color: rgb(88,87,87);
    padding: 10px;
}

.jatek2{
    background-color: rgb(17,17,17);
    padding: 10px;
}

.tarolo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}